@model List<ListItem>


<div class="navbar-notify" id="myList">
    <i class="lni lni-library"></i><b>@Model.Count</b>
    <div class="notify-dropdown" id="myListItem" style="background-color:#27272B">
        <div class="total-notify">
            <h6>My LIST</h6>
            <span>@Model.Count</span>
        </div>
        <!-- end total-notify -->
        <ul>
            @if (Model.Count > 0)
            {
                @foreach (ListItem item in Model)
                {
                    if (item.Id == -1)
                    {
                        <li class="alert alert-danger col-lg-12" role="alert">
                            <span>@item.Name</span>
                        </li>
                    }
                    else
                    {
                        <li >
                            <a asp-controller="Movie" asp-action="MovieSinglePage" asp-route-id="@item.Id">@item.Name</a>
                            &nbsp;
                            <a class="mouserPointer" onclick="DeleteFromList(@item.Id)">-</a>
                        </li>
                    }
                }
            }
        </ul>
    </div>
    <!-- end notify-dropdown -->
</div>