@model List<FragmanVM>

<table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
    <thead>
        <tr>
            <th>Name</th>
            <th>Counter View</th>
            <th class="hidden-phone">Like</th>
            <th class="hidden-phone">Dislike</th>
            <th class="hidden-phone">Ratio</th>
            <th style="display: none;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (FragmanVM item in Model)
        {
<tr class="gradeA">
    <td>@item.Name</td>
    <td>@item.CounterView</td>
    <td class="hidden-phone">@item.CounterLike</td>
    <td class="center hidden-phone">@item.CounterDisLike</td>
    <td class="center hidden-phone">@item.Ratio</td>
    <td style="display: none;">@item.Description</td>
</tr>
}
    </tbody>
</table>
