
@{
    ViewData["Title"] = "MovieSinglePage";
}
@model FragmanVM

<header class="page-header single" data-background="@Model.Poster">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="video-player">
                    <a href="javascript:history.go(-1)" class="back-btn"><i class="lni lni-chevron-left"></i> BACK</a>
                    <iframe style="width:65vw;height:40vw"marginheight="2" src="https://www.youtube.com/embed/3vETWt9zHWo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <!-- end video-player -->
            </div>
            <!-- end col-12 -->
        </div>
        <!-- end col-12 -->
        <!-- end row -->
    </div>
    <!-- end container -->
</header>
<!-- end header -->
<main>
    <section class="content-section" data-background="#ffffff">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="movie-info-box">
                        <h2 class="name">@Model.Name</h2>
                        <ul class="features">    
                            <li>
                                @await Component.InvokeAsync("Genre", Model.FragID)
                            </li>
                        </ul>
                        <p class="description">
                            @Model.Description
                        </p>
                        <div class="row mb-5">
                            @await Component.InvokeAsync("Url", Model.FragID)
                        </div>
                        <a class="add-btn mouserPointer" onclick="AddToList(@Model.FragID)">+ ADD YOUR LIST</a>
                        <div class="rate-box" id="rating">
                            <!-- rating işlemleri -->
                        </div>
                    </div>
                    <!-- end movie-info-box -->
                </div>
                <!-- end col-8 -->
                <div class="col-lg-4">
                    <div class="movie-side-info-box">
                        <figure><img src="@Model.Poster" alt="Image"></figure>
                    </div>
                    <!-- end movie-side-info-box -->
                </div>
                <!-- end col-4 -->
            </div>
            <!-- end col-12 -->
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end content-section -->
    <section class="content-section" data-background="#111111">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title light">
                        <h6>FIND ANYWHERE ELSE</h6>
                        <h2>Related Movies</h2>
                    </div>
                    <!-- end section-title -->
                </div>
                <div class="row" id="singleFragman">
                    <!--SingleFragman Sergilenecek*-->
                </div>

                <div class="col-12 text-center"> <a asp-controller="Movie" asp-action="Movies" class="custom-button">BROWSE ALL MOVIES</a> </div>
                <!-- end col-12 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end content-section -->
    <section class="content-section" data-background="#ffffff">
        <div class="container">
            <!--<div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h6>SHARE WITH US</h6>
                        <h2>All Comments</h2>
                    </div>-->
                    <!-- end section-title -->
                <!--</div>-->
                <!-- end col-12 -->
                <!--<div class="col-12">
                    <div class="comments">
                        <ul class="comments-list">
                            <li>
                                <figure class="avatar"><img src="~/images/avatar01.jpg" alt="Image"></figure>
                                <div class="comment">
                                    <h6>Jenny Klausein</h6>
                                    <p>Users like you see an increase in open rates when including recipients’ first and last name in the “To” field to personalize their emails. Gravity letters it amongst herself dearest an windows by. Wooded ladies she basket season age her uneasy saw.</p>
                                    <small>November 25, 2020</small>
                                    <a href="#">REPLY</a>
                                </div>-->
                                <!-- end comment -->
                            <!--</li>
                            <li>
                                <figure class="avatar"><img src="~/images/avatar01.jpg" alt="Image"></figure>
                                <div class="comment">
                                    <h6>Jenny Klausein</h6>
                                    <p>Recommended next action: Personalize the "to:" field Gravity letters it amongst herself dearest an windows by. Wooded ladies she basket season age her uneasy saw.</p>
                                    <small>November 25, 2020</small>
                                    <a href="#">REPLY</a>
                                </div>-->
                                <!-- end comment -->
                                <!--<ul class="comments-list">
                                    <li>
                                        <figure class="avatar"><img src="~/images/avatar01.jpg" alt="Image"></figure>
                                        <div class="comment">
                                            <h6>Jenny Klausein</h6>
                                            <p>Characteristics you and your peers share Industry Professional Services Your industry was either self reported or predicted using natural language processing techniques. You can update it in your settings.Gravity letters it amongst herself dearest an windows by. Wooded ladies she basket season age her uneasy saw.</p>
                                            <small>November 25, 2020</small>
                                            <a href="#">REPLY</a>
                                        </div>-->
                                        <!-- end comment -->
                                    <!--</li>
                                    <li>
                                        <figure class="avatar"><img src="~/images/avatar01.jpg" alt="Image"></figure>
                                        <div class="comment">
                                            <h6>Jenny Klausein</h6>
                                            <p>Gravity letters it amongst herself dearest an windows by. Wooded ladies she basket season age her uneasy saw.</p>
                                            <small>November 25, 2020</small>
                                            <a href="#">REPLY</a>
                                        </div>-->
                                        <!-- end comment -->
                                    <!--</li>
                                </ul>
                            </li>
                        </ul>
                        <div class="comments-form">
                            <h5>Leave a Reply</h5>
                            <div class="form-group">
                                <textarea placeholder="Comment"></textarea>
                            </div>-->
                            <!-- end form-group -->
                            <!--<div class="form-group">
                                <input type="submit" value="Post Comment">
                            </div>-->
                            <!-- end form-group -->
                        <!--</div>-->
                        <!-- end comments-form -->
                    <!--</div>-->
                    <!-- end comments -->
                <!--</div>-->
                <!-- end col-12 -->
            <!--</div>-->
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end content-section -->
</main>

@section scripts{
    <script>
        var fragId =@ViewContext.RouteData.Values["id"]
        var uid =@ViewBag.UId
        $(document).ready(function () {
            GetFragmanListAll()
            GetRating(fragId)
            AddRating(fragId, uid)
            GetBtnMyList("../../../mylist/getbtn")
        })
        function ChangeUrl(path) {
            if (path != 0) {
                $("#fragmanVideo").attr("src", path)
            }
        }

        function Like(token) {
            $.ajax({
                type: "GET",
                url:"../../../ajax/like?fid=" + fragId + "&uid=" + uid + "&token=" + token,
                success: function (response) {
                    if (response.check) {
                        alertify.success(response.message)
                    } else {
                        alertify.error(response.message)
                    }
                    GetRating(fragId)
                }
            })
        }

        function AddToList(id) {
            $.ajax({
                type: "Get",
                url: "../../../mylist/AddMyList?id=" + id,
                success: function (response) {
                    GetBtnMyList("../../../mylist/getbtn")
                    if (response.check) {
                    alertify.success("Film izlenecekler listesine eklendi.")
                    } else {
                        alertify.error("Film zaten izlenecekler listesinde.")
                    }
                }
            })
        }

    </script>
}